/* account/static/account/login.css */

/* Adjust card styling */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Center form elements */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style form labels */
label {
    margin-bottom: 0.25rem; /* Reduced margin for labels */
}

/* Style form inputs */
input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    /* Prevent text overflow and wrapping */
    overflow: hidden;
    white-space: nowrap;
}

/* Style form submit button */
button {
    width: 100%;
}

/* Add spacing to the bottom link */
.text-center a {
    margin-top: 0.5rem;
}
