{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="mt-4 mb-4">Post List</h2>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if post.file %}
                    {% if post.file.url %}
                        <a href="{% url 'post:post_detail' post.id %}">
                            {% if post.file.url|lower|slice:'-3:' == 'mp4' %}
                                <video width="100%" controls poster="{{ post.file.url }}">
                                    <source src="{{ post.file.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% else %}
                                <img class="card-img-top" src="{{ post.file.url }}" alt="Image">
                            {% endif %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
