{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="mt-4 mb-4">Post List</h2>
    <div class="row">
        {% for post in page_obj %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if post.file %}
                    {% if post.file.url %}
                        <a href="{% url 'post:post_detail' post.id %}">
                            {% if post.file.url|lower|slice:'-3:' == 'mp4' %}
                                <video width="100%" controls poster="{{ post.file.url }}">
                                    <source src="{{ post.file.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% else %}
                                <img class="card-img-top" src="{{ post.file.url }}" alt="Image">
                            {% endif %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item{% if page_obj.number == num %} active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
